# Turn on URL rewriting
RewriteEngine On

# Canonical redirect redirect - http://www.sparkjs.co.uk/ -> http://sparkjs.co.uk/
RewriteCond %{HTTP_HOST} !^sparkjs\.co\.uk$
RewriteRule (.*) http://sparkjs.co.uk/$1 [R=301,L]

# Redirect 404's
RewriteRule ^forum/(.*) http://groups.google.com/group/sparkjs [R=301,L]
Redirect 301 /forum http://groups.google.com/group/sparkjs
Redirect 301 /documentation/replace http://sparkjs.co.uk/documentation.html
Redirect 301 /documentation/location http://sparkjs.co.uk/documentation/css.html
Redirect 301 /documentation/opacity http://sparkjs.co.uk/documentation/css.html
Redirect 301 /documentation/functions http://sparkjs.co.uk/documentation.html
Redirect 301 /documentation/size http://sparkjs.co.uk/documentation/css.html
Redirect 301 /documentation/add http://sparkjs.co.uk/documentation/element.html
Redirect 301 /documentation/trigger http://sparkjs.co.uk/documentation/trigger.html
Redirect 301 /documentation/transition http://sparkjs.co.uk/documentation/transition.html
Redirect 301 /documentation/stop http://sparkjs.co.uk/documentation/stop.html
Redirect 301 /documentation/ready http://sparkjs.co.uk/documentation/ready.html
Redirect 301 /documentation/noConflict http://sparkjs.co.uk/documentation/noConflict.html
Redirect 301 /documentation/load http://sparkjs.co.uk/documentation/load.html
Redirect 301 /documentation/jsonp http://sparkjs.co.uk/documentation/jsonp.html
Redirect 301 /documentation/json http://sparkjs.co.uk/documentation/json.html
Redirect 301 /documentation/fixEvent http://sparkjs.co.uk/documentation/fixEvent.html
Redirect 301 /documentation/element http://sparkjs.co.uk/documentation/element.html
Redirect 301 /documentation/each http://sparkjs.co.uk/documentation/each.html
Redirect 301 /documentation/data http://sparkjs.co.uk/documentation/data.html
Redirect 301 /documentation/css http://sparkjs.co.uk/documentation/css.html
Redirect 301 /documentation/computed http://sparkjs.co.uk/documentation/computed.html
Redirect 301 /documentation/client http://sparkjs.co.uk/documentation/client.html
Redirect 301 /documentation/classes http://sparkjs.co.uk/documentation/classes.html
Redirect 301 /documentation/attribute http://sparkjs.co.uk/documentation/attribute.html
Redirect 301 /documentation/animate http://sparkjs.co.uk/documentation/animate.html
Redirect 301 /documentation/ajax http://sparkjs.co.uk/documentation/ajax.html
Redirect 301 /documentation/event http://sparkjs.co.uk/documentation/event.html
Redirect 301 /documentation/html http://sparkjs.co.uk/documentation/html.html
Redirect 301 /documentation/cookie http://sparkjs.co.uk/documentation/cookie.html
Redirect 301 /documentation/text http://sparkjs.co.uk/documentation/text.html