			</div>
			
			<br class='clear' />
			
			<footer>
				<p>&copy; 2011 <a href='http://flowdev.co.uk/'>Oliver Caldwell</a> &middot; <a href='/sitemap.xml'>Sitemap</a></p>
			</footer>
		</div>
		
		<script type='text/javascript' src='/assets/javascript/spark.js'></script>
		<script type='text/javascript' src='/assets/javascript/prettify.js'></script>
		<script type='text/javascript' src='/assets/javascript/main.js'></script>
		<script type='text/javascript' src='http://sparkjs.disqus.com/embed.js'></script>
		<script type='text/javascript'>
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-17812549-13']);
			_gaq.push(['_trackPageview']);
				(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</body>
</html>