/* Prettify */
.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun{color:#660}.pln{color:#000}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec{color:#606}pre.prettyprint{padding:2px;border:1px solid #888}ol.linenums{margin-top:0;margin-bottom:0}li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style:none}li.L1,li.L3,li.L5,li.L7,li.L9{background:#eee}@media print{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun{color:#440}.pln{color:#000}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}

/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Text */
p, li, h1, h2, h3, h4, h5, h6, pre {
	font-family: helvetica, arial, sans-serif;
	color: #686868;
	font-weight: lighter;
}

h3 {
	font-size: 22px;
	margin: 40px 0 15px 0;
	color: #992222;
}

h3.anatomy {
	width: 100%;
	padding: 20px 0 20px 0;
	text-align: center;
	background-color: #992222;
	color: #FFFFFF;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 4px #474747;
	-moz-box-shadow: 0px 0px 4px #474747;
	box-shadow: 0px 0px 4px #474747;
	}
	h3.anatomy strong {
		color: #FFFFFF;
	}

span.light {
	color: #996666;
	}
	span.light a {
		color: #996666;
	}

p {
	line-height: 23px;
	margin: 0 0 20px 0;
}

a {
	color: #107FC9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

strong {
	font-weight: bold;
	color: #666666;
}

pre.prettyprint {
	padding: 10px;
	border-color: #996666;
	background-color: #FFFFFF;
}

/* Page */
body {
	background: 0 0 url(/assets/images/noise.png) transparent repeat;
}

/* Wrapper */
div.wrapper {
	width: 1000px;
	margin: 0 auto;
}

/* Header */
header {
	width: 100%;
	height: 105px;
	}
	header h1 {
		width: 298px;
		height: 72px;
		margin: 30px 0 0 15px;
		display: block;
		background: 0 0 url(/assets/images/logo.png) transparent no-repeat;
		}
		header h1 a {
			width: 298px;
			height: 0px;
			padding: 72px 0 0 0;
			overflow: hidden;
			display: block;
		}

/* Navigation */
nav {
	width: 100%;
	height: 43px;
	background: 0 0 url(/assets/images/nav-background.png) transparent repeat-x;
	}
	nav li {
		float: left;
		height: 43px;
		display: block;
		}
		nav li a {
			height: 0;
			padding: 43px 0 0 0;
			overflow: hidden;
			display: block;
		}
	nav li.home {
		width: 102px;
		background: 0 0 url(/assets/images/nav-buttons.png) transparent no-repeat;
	}
	nav li.home:hover, nav li.home.selected {
		background-position: 0 -43px;
	}
	nav li.download {
		width: 136px;
		background: -102px 0 url(/assets/images/nav-buttons.png) transparent no-repeat;
	}
	nav li.download:hover, nav li.download.selected {
		background-position: -102px -43px;
	}
	nav li.documentation {
		width: 182px;
		background: -238px 0 url(/assets/images/nav-buttons.png) transparent no-repeat;
	}
	nav li.documentation:hover, nav li.documentation.selected {
		background-position: -238px -43px;
	}
	nav li.discussion {
		width: 138px;
		background: -420px 0 url(/assets/images/nav-buttons.png) transparent no-repeat;
	}
	nav li.discussion:hover, nav li.discussion.selected {
		background-position: -420px -43px;
	}

/* Footer */
footer {
	width: 100%;
	height: 50px;
	border-top: 1px dotted #C3C3C3;
	margin: 30px 0 30px 0;
	clear: both;
	}
	footer p {
		width: 100%;
		height: 100%;
		line-height: 50px;
		text-align: right;
	}

/* Content */
div.content {
	width: 100%;
	margin: 30px 0 0 0;
}

/* Focus */
div.focus {
	width: 100%;
	height: 347px;
	background: 0 0 url(/assets/images/focus-background.png) transparent no-repeat;
	}
	div.focus div.container {
		width: 546px;
		height: 277px;
		margin: 35px 0 0 28px;
		float: left;
	}
	div.focus div.container-right {
		width: 294px;
		height: 277px;
		margin: 35px 32px 0 100px;
		float: right;
		text-align: center;
	}
	div.focus h2 {
		width: 465px;
		height: 0;
		padding: 21px 0 0 0;
		overflow: hidden;
		display: block;
		background: 0 0 url(/assets/images/focus-heading.png) transparent no-repeat;
		margin: 0 0 20px 0;
	}

/* Clear fix */
br.clear {
	clear: both;
}

/* Main content */
div.main {
	margin: 30px 0 0 0;
	}
	div.main ul {
		margin: 5px 0 5px 30px;
		}
		div.main ul li {
			list-style: disc inside;
			margin: 5px 0 5px 0;
		}
	div.main div.left {
		width: 574px;
		float: left;
	}
	div.main div.right {
		width: 38%;
		float: right;
		min-height: 531px;
		background: 0 0 url(/assets/images/sidebar-background.png) transparent no-repeat;
		}
		div.main div.right div.container {
			width: 294px;
			margin: 0 32px 0 100px;
			float: right;
		}

/* Tweet list */
#tweetlist {
	display: none;
}

/* Learn by example */
#lbe {
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 50px;
	height: 50px;
	background-color: #992222;
	margin: 0 0 20px 0;
	cursor: pointer;
	}
	#lbe p {
		display: none;
		color: #FFFFFF;
	}

/* Full page lists */
ul.full {
	width: 100%;
	margin: 0 !important;
	}
	ul.full li {
		width: 960px;
		padding: 20px;
		background-color: #EEEEEE;
		display: block;
		border: 1px solid #DDDDDD;
	}

/* Code blocks */
pre.prettyprint {
	margin: 0 0 60px 0;
	line-height: 20px;
	font-family: courier new;;
}

/* Disqus */
div#disqus_thread {
	padding: 30px 0 0 0;
}