{% include header.html %}
<div class='focus'>
	<div class='container'>
		<h2>Spark is a new breed of <em>JavaScript library</em></h2>
		
		<p>It is fast and lightweight leaving a tiny, beautiful, footprint within your application. You can learn all about it’s capabilities within the documentation.</p>
		
		<p>Download either the minified or production (unminified) version from the right or the downloads page.</p>
	</div>
	
	<div class='container-right'>
		<p><a href='/assets/downloads/Spark-{{ site.categories.downloads[0].title }}.min.js'><img src='/assets/images/download-minified.png' alt='Download minified' /></a></p>
		
		<p><a href='/assets/downloads/Spark-{{ site.categories.downloads[0].title }}.js'><img src='/assets/images/download-production.png' alt='Download production' /></a></p>
		
		<p>Current version &middot; {{ site.categories.downloads[0].title }}</p>
		
		<p><a href='/download.html'>all versions</a></p>
	</div>
</div>

<div class='main'>
	{{ page.content }}
</div>
{% include footer.html %}